html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  height: 90vh;
}

.footer {
  flex-shrink: 0;
}

.movie {
  height: 10vh;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie button {
  height: 2.5rem;
  width: 6rem;
  background-color: lightblue;
  border: none;
  color: #010101;
  margin: .5rem;
}

.movie button:hover {
  cursor: pointer;
  background-color: rgb(15, 173, 226);
  color: whitesmoke;
}

.movie button.submitBtn {
  background-color: goldenrod;
}

.movie button.submitBtn:hover {
  background-color: rgb(24, 158, 12);
}

.addMovie button {
  height: 2.5rem;
  width: 6rem;
  background-color: #ff7b25;
  border: none;
  color: #010101;
  margin-top: 1rem;
}

.addMovie button:hover {
  cursor: pointer;
  background-color: #6b5b95;
  color: whitesmoke;
}

.addForm {
  display: flex;
  flex-direction: column;
}

.movie .deleteBtn {
  background-color: #e06377;
}

.movie .deleteBtn:hover {
  background-color: #c83349;
}